@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Input+Mono&display=swap');

body {
  --color-primary: #000000;  /* Black */
  --color-secondary: #FFFFFF;  /* White */
  --color-accent: #FF0000;  /* Red */
  --color-background: #FFFFFF;  /* White */
  --color-text: #000000;  /* Black */
  --color-muted: #777777;  /* Gray */

  font-family: 'Input Mono', monospace;
  color: var(--color-text);
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  background-color: var(--color-primary);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.logo {
  margin-left: 20px;
}

.logo img {
  height: 40px;
  width: auto;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links li {
  margin-left: 1rem;
}

.nav-links a {
  color: var(--color-secondary);
  font-size: 1rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: var(--color-accent);
}

.main-content {
  margin-top: 65px;
}

.hero {
  padding: 4rem 2rem;
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-family: 'Input Mono', monospace;
}

.hero p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.button {
  display: inline-block;
  background-color: var(--color-accent);
  color: var(--color-secondary);
  padding: 1rem 2rem;
  font-size: 1.2rem;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button:hover {
  background-color: var(--color-secondary);
}

.repositories {
  padding: 4rem 2rem;
}

.section-title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Input Mono', monospace;
}

.repository-card {
  background-color: var(--color-background);
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.repository-card img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.repository-title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.repository-description {
  font-size: 1rem;
  color: var(--color-muted);
}

.support {
  padding: 4rem 2rem;
}

.footer {
  text-align: center;
  background-color: var(--color-primary);
  padding: 2rem 0;
  color: var(--color-secondary);
  font-size: 0.8rem;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.footer-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.footer-column h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.footer-links li {
  margin-bottom: 0.5rem;
}

.footer-links a {
  color: var(--color-secondary);
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: var(--color-accent);
}

.about-joe {
  padding: 4rem 2rem;
}

.about-joe .container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.about-joe h2 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  color: var(--color-secondary);
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Input Mono', monospace;
}

.profile {
  background-color: var(--color-primary);
  padding: 2rem;
  border-radius: 0.5rem;
  text-align: center;
  transition: transform 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile:hover {
  transform: translateY(-5px);
}

.profile-image {
  background-color: var(--color-muted);
  height: 16rem;
  border-radius: 0.5rem;
}

.profile h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--color-secondary);
  font-weight: bold;
  margin-top: 1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Input Mono', monospace;
}

.profile p {
  color: var(--color-muted);
  margin-top: 0.5rem;
}
